
*{
padding : 0;
margin : 0;
}

html{
    height: 100%
}
body {
    height: 100%;
    background-image: linear-gradient(rgb(34, 99, 238),teal);
}

.header-box{

}

.header{
    padding: 60px;
    border-width: 5px;
    text-align: center;
    color:seashell;
    font-size:15;
    background-image: 
}


div#wrapperHeader {
    width:100%;
    text-align:center;
   }
   
   
   
   div#wrapperHeader div#header img {
    width:50%; 
    height:50%; 
    margin: auto;
   }
