
*{
padding : 0;
margin : 0;
}

html{
    height: 100%
}
body {
    height: 100%;
    background-image: linear-gradient(rgb(34, 99, 238),teal);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

header {
    background-color: 0,0,0,0.8;
    border: 2px solid rgb(100, 184, 212);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.header-box{
width: 325px;
height: auto;
border: 2px solid rgb(100, 184, 212);
border-radius: 80%;
padding: 10px;
}

.headerStyle{
    padding: 50px;
    text-align: center;
    color:seashell;
    font-size: 22px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.molnBild{
    max-width: 100%;
    height:auto
}
 
.flx-row {
    display: flex;
    justify-content:space-evenly;
}

.flx-col {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

input{
    width:60px;
    height: 60px;
}
input[type=number] {
    border: 2px solid rgb(100, 184, 212);
    border-radius: 4px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

section {
    margin: 0.5in auto;
    
    max-width: 4in;
    min-width: 3in;
    max-height: 4in;

    padding: 0.1in;
    box-shadow: 5px 10px 8px #888888;
}

footer {
    border: 2px solid rgb(100, 184, 212);
    background-image: linear-gradient(rgb(34, 99, 238),rgb(23, 60, 107));
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}