*{
padding : 0;
margin : 0;
}

html{
    height: 100%
}
body {
    height: 100%;
    background-image: linear-gradient(rgb(149, 204, 149),teal);
}

.header-box{
    
}

.header{
    padding: 60px;
    border-width: 5px;
    text-align: center;
    color:seashell;
    font-size:15;
}

